html {
    zoom: 75% !important;
}

body {
    /* font-family: Optima, Segoe, Segoe UI, Candara, Calibri, Arial, sans-serif !important; */
    /* font-family: 'Abril Fatface', cursive !important; */
    font-family: Verdana, Geneva, Tahoma, sans-serif !important;
    background-image: url(../img/covid19bg.jpg) !important;
    background-repeat: no-repeat;
    background-size: cover;
}

.numberFirstPage {
    font-size: 40px;
    font-weight: bold;
}

.fullHeight {
    height: 125vh !important;
    opacity: 0.9;
}

.covid {
    background-image: url('data:image/svg+xml;charset=utf8,%3Csvg width="1351" height="443" viewBox="0 0 1351 443" fill="none" xmlns="http://www.w3.org/2000/svg"%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M4.00002 155L2.92832 157.928L0 158.999L2.92832 160.071L4.00002 163L5.0709 160.071L8.00003 159V158.999L5.0709 157.928L4.00083 155H4.00002Z" fill="%23F99D78"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M224 196L222.66 199.66L219 200.999L222.66 202.339L224 206L225.339 202.339L229 201V200.999L225.339 199.66L224.001 196H224Z" fill="%23F99D78"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1346 398L1344.66 401.66L1341 402.999L1344.66 404.339L1346 408L1347.34 404.339L1351 403V402.999L1347.34 401.66L1346 398H1346Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1219.5 -6.10352e-05L1217.49 5.49054L1212 7.49845L1217.49 9.50788L1219.5 15L1221.51 9.50788L1227 7.49997V7.49845L1221.51 5.49054L1219.5 -6.10352e-05H1219.5Z" fill="%23CDDCE6"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1240.5 428L1238.49 433.491L1233 435.499L1238.49 437.508L1240.5 443L1242.51 437.508L1248 435.5V435.499L1242.51 433.491L1240.5 428H1240.5Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1330 96L1328.93 98.9283L1326 99.9992L1328.93 101.071L1330 104L1331.07 101.071L1334 100V99.9992L1331.07 98.9283L1330 96H1330Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M592 358L590.66 361.66L587 362.999L590.66 364.339L592 368L593.339 364.339L597 363V362.999L593.339 361.66L592.001 358H592Z" fill="%23F99D78"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M935 0L933.66 3.6604L930 4.99901L933.66 6.33862L935 10L936.339 6.33862L940 5.00002V4.99901L936.339 3.6604L935.001 0H935Z" fill="%23F99D78"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M786 81L785.196 83.1962L783 83.9994L785.196 84.8032L786 87L786.803 84.8032L789 84V83.9994L786.803 83.1962L786.001 81H786Z" fill="%23F99D78"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M487 21L485.928 23.9283L483 24.9992L485.928 26.0709L487 29L488.071 26.0709L491 25V24.9992L488.071 23.9283L487.001 21H487Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M1175 261L1173.66 264.66L1170 265.999L1173.66 267.339L1175 271L1176.34 267.339L1180 266V265.999L1176.34 264.66L1175 261H1175Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M819 196L817.66 199.66L814 200.999L817.66 202.339L819 206L820.339 202.339L824 201V200.999L820.339 199.66L819.001 196H819Z" fill="%237D728E"/%3E%3Cpath fill-rule="evenodd" clip-rule="evenodd" d="M25.5 336L23.4906 341.491L18 343.499L23.4906 345.508L25.5 351L27.5079 345.508L33.0001 343.5V343.499L27.5079 341.491L25.5015 336H25.5Z" fill="%237D728E"/%3E%3C/svg%3E') !important;
}

.totalNumberColor {
    color: #515751 !important;
}

.recoveredNumberColor {
    color: #01b22a;
}

.activeNumberColor {
    color: rgb(82, 82, 238);
}

.deathsColor {
    color: #ff4343;
}

.headingColor {
    color: #ff9191;
}

.size26 {
    font-size: 40px;
}

.success {
    color: green;
}

.selectedData {
    color: #266454 !important;
}


/* .covid-data {
    color: #fff;
    padding-top: 6rem;
}

.covid-img {
    display: flex !important;
    justify-content: center !important;
    align-items: center !important;
    padding: 2rem 0 !important;
} */